 

<ion-view view-title="INVOICE">
    <ion-nav-bar class="bar-stable">

        <!--<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons> -->
        <ion-nav-back-button>
        </ion-nav-back-button>

    </ion-nav-bar>


    <ion-content>
        <!-- The content of the page -->
        <h2>INVOICE</h2>
        
        
        <pre>{{ invoiceResponce }}</pre>

        <a class="button icon-left ion-chevron-left button-calm" href="#/common/table">TABLE</a>
        <a class="button icon-right ion-chevron-right button-calm" href="#/gp/feedback/1/1">Feedback PAGE</a>

    </ion-content>
</ion-view>
