<ion-view view-title="LOGIN">
    <ion-nav-bar class="bar-stable">

  <!--<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons> -->
    
</ion-nav-bar>
    
    <ion-content>
      <!-- The content of the page -->
      <h1>Login Page</h1>
        
        
<ion-slide-box active-slide="myActiveSlide" does-continue="true">
  <ion-slide>
    <div class="box blue"><h1>BLUE</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box>
        
        
        
        
        
        
        
        
        
        
<a class="button icon-right ion-chevron-right button-calm button-block " href="#/gp/table">Table</a>
<a class="button icon-right ion-chevron-right button-calm button-block " href="#/gp/menu">Menu</a>


    </ion-content>
  </ion-view>
 