<ion-view view-title="LOGIN">
    <ion-nav-bar class="bar-stable">

  <!--<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons> -->
    
</ion-nav-bar>
    
    <ion-content>
      <!-- The content of the page -->
      <h1>Login Page</h1>
         
  <input ng-model="user.userNumber" /> 
        <pre>{{user | json}}</pre>
        
        <button ng-click="clickHandle(message)">Click here </button>
        
<a class="button icon-right ion-chevron-right button-calm button-block " href="#/common/table">Table</a>
<a class="button icon-right ion-chevron-right button-calm button-block " href="#/gp/menu/1/1/1">Menu</a>


    </ion-content>
  </ion-view>
 