<ion-view view-title="MENU">
    <ion-nav-bar class="bar-stable">

        <!--<ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
        </ion-nav-buttons> -->
        <ion-nav-back-button>
        </ion-nav-back-button>

    </ion-nav-bar>
    <ion-content>
        
        <pre>{{orderDetails | json}}</pre>
        
        <input type="text" ng-model="orderId" />
        
        
        
        <ion-scroll direction="x" class="wide-as-needed text-center scrollTabs">
            <a class="button inline-button" ng-repeat="section in sections"  ng-click="slideGoto($index)"
               ng-class="{active:myActiveSlide == $index}"><span>{{section.SectionName}}</span></a>
        </ion-scroll>

        
        <ion-slide-box active-slide="myActiveSlide" does-continue="false" on-slide-changed="slideHasChanged($index)">
            
            <ion-slide ng-repeat="section in sections"> 
                <div class="box blue"> 
                        <ion-list>
                            <div class="categories" ng-repeat="category in section.Categories">
                                <ion-item class="item-stable" ng-click="toggleGroup(category)" ng-class="{active: isGroupShown(category)}">
                                    <i class="icon" ng-class="isGroupShown(category) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{category.CategoryName}}
                                </ion-item>
                                <div class="items" ng-show="isGroupShown(category)">
                                    <ion-item class="item-accordion" ng-repeat="items in category.Items"><pre>{{items | json}}</pre>
                                        
                                        <h2>{{items.ItemName}} 
                                            <a class="icon ion-minus-round" ng-click="menuMinusClick(items.ItemId, '')"></a> | 
                                            <a class="icon ion-plus-round" ng-click="menuPlusClick(items.ItemId, '')"></a></h2>
                                    </ion-item>
                                </div>
                            </div>
                        </ion-list>
                </div>
                     
            </ion-slide>
             

        </ion-slide-box>
        <ion-footer-bar align-title="left" class="bar-assertive" ng-click="orderSummeryClick(orderSummery.ReviewItemCount)">
            <div class="buttons">
                <button class="button">Left Button</button>
            </div>
            <h1 class="title" ng-if="(orderSummery.ReviewItemCount != 0)">{{orderSummery.ReviewItemCount}} Items to Review</h1>
            <h1 class="title" ng-if="(orderSummery.ReviewItemCount == 0)">{{orderSummery.ReviewItemCount}} Items to Review</h1>
            <div class="buttons" ng-click="doSomething()">
                <a class="button icon-right ion-chevron-right button-clear button-dark"></a>
            </div>
        </ion-footer-bar>

        <a class="button icon-left ion-chevron-left button-calm" href="#/common/table">TABLE</a>
        <a class="button icon-right ion-chevron-right button-calm" href="#/gp/review/{{orderId}}">REVIEWS</a>

    </ion-content>
</ion-view>
