<ion-view view-title="MENU">
    <ion-nav-bar class="bar-stable">

        <!--<ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
        </ion-nav-buttons> -->
        <ion-nav-back-button>
        </ion-nav-back-button>

    </ion-nav-bar>
    <ion-content>
       
        
          <my-tabs>
            <div class="sections" ng-repeat="section in sections">
                <my-pane title="{{ section.SectionName}}">
                    
                </my-pane>
            </div>
        </my-tabs>
        
        
        
        
        
        <ion-slide-box active-slide="myActiveSlide" on-slide-changed="slideHasChanged($index)">
            
            <ion-slide ng-repeat="section in sections"> 
                <div class="box blue"> 
                            <ion-list>
                                <div class="categories" ng-repeat="category in section.Categories">
                                    <ion-item class="item-stable" ng-click="toggleGroup(category)" ng-class="{active: isGroupShown(category)}">
                                        <i class="icon" ng-class="isGroupShown(category) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{category.CategoryName}}
                                    </ion-item>
                                    <div class="items" ng-show="isGroupShown(category)">
                                        <ion-item class="item-accordion" ng-repeat="items in category.Items"> 
                                            <h2>{{items.ItemName}}</h2>
                                        </ion-item>
                                    </div>
                                </div>
                            </ion-list>  
                
                </div>
                     
            </ion-slide>
             

        </ion-slide-box>
        <!--<my-tabs>
            <div class="sections" ng-repeat="section in sections">
                <my-pane title="{{ section.SectionName}}">
                    <ion-list>
                        <div class="categories" ng-repeat="category in section.Categories">
                            <ion-item class="item-stable" ng-click="toggleGroup(category)" ng-class="{active: isGroupShown(category)}">
                                <i class="icon" ng-class="isGroupShown(category) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{category.CategoryName}}
                            </ion-item>
                            <div class="items" ng-show="isGroupShown(category)">
                                <ion-item class="item-accordion" ng-repeat="items in category.Items">

                                    <h2>{{items.ItemName}}</h2>
                                </ion-item>
                            </div>
                        </div>
                    </ion-list>
                </my-pane>
            </div>
        </my-tabs>
        -->



        <!---
        <div class="sections" ng-repeat="section in sections">
            <h2>{{ section.SectionName}}</h2>
            <ion-list>

                <div class="categories" ng-repeat="category in section.Categories">
                    <ion-item class="item-stable"
                              ng-click="toggleGroup(category)"
                              ng-class="{active: isGroupShown(category)}">
                        <i class="icon" ng-class="isGroupShown(category) ? 'ion-minus' : 'ion-plus'"></i>
                        &nbsp;
                        {{category.CategoryName}}
                    </ion-item>
                    <div class="items" ng-show="isGroupShown(category)">
                        <ion-item class="item-accordion"
                                  ng-repeat="items in category.Items">

                            <h2>{{items.ItemName}}</h2>
                        </ion-item>
                    </div>
                </div>
            </ion-list> 
            
        </div>   
        ------->

        </div>
        </div>


        <a class="button icon-left ion-chevron-left button-calm" href="#/gp/table">TABLE</a>
        <a class="button icon-right ion-chevron-right button-calm" href="#/gp/review">REVIEWS</a>

    </ion-content>
</ion-view>
