
<ion-view view-title="REVIEWS">
       <ion-nav-bar class="bar-stable">

  <!--<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons> -->
  <ion-nav-back-button>
  </ion-nav-back-button> 
     
</ion-nav-bar>
    
    
    <ion-content>
      <!-- The content of the page -->
      <h2>REVIEWS</h2>
<p>{{ reviewData}}</p>

<a class="button icon-left ion-chevron-left button-calm" href="#/gp/table">TABLE</a>
<a class="button icon-right ion-chevron-right button-calm" href="#/gp/menu">MENU</a>
        
    </ion-content>
  </ion-view>

