<ion-view view-title="TABLE">
   <ion-nav-bar class="bar-stable">

  <!--<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons> -->
  <ion-nav-back-button>
  </ion-nav-back-button> 
     
</ion-nav-bar>
    
    <ion-content>
      <!-- The content of the page -->
      <h1>Table Page</h1>
<a class="button icon-right ion-chevron-right button-calm" href="#/gp/login">login</a>
<a class="button icon-left ion-chevron-left button-calm"href="#/gp/menu/1/1/1">MENU</a>
        
    </ion-content>
  </ion-view>

