<ion-view view-title="Users">
    <ion-nav-bar class="bar-stable">

        <!--<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons> -->
        <ion-nav-back-button>
        </ion-nav-back-button>

    </ion-nav-bar>


    <ion-content>
        <div class="progress" ng-show="loaderVisible"><div class="indeterminate"></div></div>   
        <pre>{{usersResponse | json}}</pre>
        <div class="list">

          <div class="item item-button-right" ng-repeat="user in usersResponse.users">
            {{user.firstName }} {{user.lastName }}
            <a class="waves-effect waves-teal btn-flat" ng-click="userAcceptMethod(user)"><i class="material-icons">add</i></a> 
             
          </div>
        
          ...
        
        </div>
        
        
    </ion-content>
</ion-view>
